@using BookShop.Data.ViewModels;
@model RegisterVM;

@{
    ViewData["Title"] = "Zarejestruj się na nowe konto";
}
<div class="row">
    <div class="col-md-6 offset-3">
        <div class="card p-3 shadow">
            <p class="text-center">
                <h4>Zarejestruj się na nowe konto</h4>
            </p>

            @if (TempData["Error"] != null)
            {
                <div class="col-md-12 alert alert-danger">
                    <span><b>Przepraszamy!</b> - @TempData["Error"] </span>
                </div>
            }

            <div class="row">
                <div class="col-md-8 offset-2 mt-5">
                    <form asp-action="Register">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="EmailAddress" class="control-label"></label>
                            <input asp-for="EmailAddress" class="form-control" placeholder="Adres e-mail" />
                            <span asp-validation-for="EmailAddress" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control" placeholder="Hasło" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword" class="control-label"></label>
                            <input asp-for="ConfirmPassword" class="form-control" placeholder="Potwierdź hasło" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

                        <div class="form-group mt-3">
                            <button class="btn btn-success float-right" type="submit">Zarejestruj się</button>
                            <a class="btn btn-secondary" asp-controller="Books" asp-action="Index">Anuluj</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>