@model BookShop.Models.Author

@{
    ViewData["Title"] = "Edit";
}


<div class="row mt-5">
    <div class="col-md-8 offset-md-2">
        <h2 class="text-center mb-4">Edytuj dane o autorze</h2>
        <hr />
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProfilePictureURL" class="control-label"></label>
                <input asp-for="ProfilePictureURL" class="form-control" />
                <span asp-validation-for="ProfilePictureURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Imię</label>
                <input asp-for="Name" class="form-control" placeholder="Imię">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Nazwisko</label>
                <input asp-for="LastName" class="form-control" placeholder="Nazwisko">
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Biography" class="control-label">O autorze</label>
                <textarea asp-for="Biography" class="form-control" placeholder="Opis autora" rows="5"></textarea>
                <span asp-validation-for="Biography" class="text-danger"></span>
            </div>
            <div class="form-group text-center mt-3">
                <button type="submit" class="btn btn-primary px-5">Zapisz zmiany</button>
                <a asp-action="Index" class="btn btn-secondary">Powrót</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
